<div class="container">
  <h2 class="title">Harry Potter Characters</h2>

  <mat-form-field appearance="fill" class="house-filter">
    <mat-label>Select House</mat-label>
    <mat-select [(value)]="selectedHouse" (selectionChange)="onHouseChange($event.value)">
      <mat-option value="">All Houses</mat-option>
      <mat-option *ngFor="let house of houses" [value]="house">{{ house }}</mat-option>
    </mat-select>
  </mat-form-field>  

  <div class="character-grid">
    <mat-card *ngFor="let character of characters" (click)="onCharacterClick(character.id)" class="character-card">
      <img mat-card-image [src]="character.image" alt="{{ character.name }}">
      <mat-card-title>{{ character.name }}</mat-card-title>
      <mat-card-subtitle class="house-option" *ngIf="character.house">{{ character.house }}</mat-card-subtitle>
    </mat-card>
  </div>
</div>
